@{
    ViewBag.Title = "Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="example TOTAL">

    <div class="input-control text span3">
        <input type="text" value="" placeholder="input text" />
        <button class="btn-clear"></button>
    </div>
    <div class="input-control text span3">
        <input type="text" value="" placeholder="input text" />
        <button class="btn-clear"></button>
    </div>
    <div class="input-control text span3">
        <input type="text" value="" placeholder="input text" />
        <button class="btn-clear"></button>
    </div>
    <div class="input-control text span3">
        <input type="text" value="" placeholder="input text" />
        <button class="btn-clear"></button>
    </div>

</div>

<div class="example geral">

    <div class="span3">
        <div class="input-control text " id="datepicker">
            <input type="text">
            <button class="btn-date "></button>
        </div>

        <button class="button" id="chamarPanel">Teste Flat Panel </button>

    </div>

</div>

<div class="example geral2">
    <div class="row">
        <div class="input-control text span3">
            <input type="text" value="" placeholder="input text" />
            <button class="btn-clear"></button>
        </div>
    </div>
    <div class="row">
        <div class="input-control text span3">
            <input type="text" value="" placeholder="input text" />
            <button class="btn-clear"></button>
        </div>
    </div>
    <div class="row">
        <div class="input-control text span3">
            <input type="text" value="" placeholder="input text" />
            <button class="btn-clear"></button>
        </div>
    </div>

</div>



